.post-detail-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  padding: 20px; }
  .post-detail-content .post-detail-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
    color: #FF6F00;
    margin-top: 25px; }
  .post-detail-content .post-detail-body {
    text-align: left;
    font-size: 20px;
    color: #FF6F00;
    text-transform: capitalize;
    margin-top: 25px; }
  .post-detail-content .post-detail-more {
    font-size: 25px;
    color: white;
    text-transform: capitalize;
    margin-top: 50px;
    padding: 7px;
    border: solid 1px white;
    border-radius: 7px;
    cursor: pointer;
    text-align: center;
    transition: all .5s ease-in-out; }
    .post-detail-content .post-detail-more:hover {
      background-color: #FF6F00; }
  .post-detail-content .post-detail-comments h1 {
    margin-top: 30px;
    text-align: center;
    font-size: 26px;
    color: #FF6F00; }
  .post-detail-content .post-detail-comments .comments-item {
    padding: 10px; }
    .post-detail-content .post-detail-comments .comments-item p {
      padding: 5px;
      color: #FF6F00;
      font-size: 16px; }

@media (max-width: 1280px) {
  .post-detail-content .post-detail-title {
    font-size: 26px; }
  .post-detail-content .post-detail-body {
    font-size: 18px; }
  .post-detail-content .post-detail-comments h1 {
    font-size: 22px; }
  .post-detail-content .post-detail-comments .comments-item {
    padding: 8px; }
    .post-detail-content .post-detail-comments .comments-item p {
      padding: 4px;
      font-size: 14px; } }

@media (max-width: 991px) {
  .post-detail-content .post-detail-title {
    font-size: 22px; }
  .post-detail-content .post-detail-body {
    font-size: 16px; }
  .post-detail-comments h1 {
    font-size: 20px; }
  .post-detail-comments .comments-item {
    padding: 7px; }
    .post-detail-comments .comments-item p {
      padding: 4px;
      font-size: 14px; } }

@media (max-width: 767px) {
  .post-detail-content .post-detail-title {
    font-size: 18px; }
  .post-detail-content .post-detail-body {
    font-size: 14px; }
  .post-detail-comments h1 {
    font-size: 18px; }
  .post-detail-comments .comments-item {
    padding: 6px; }
    .post-detail-comments .comments-item p {
      padding: 4px;
      font-size: 13px; } }

@media (max-width: 540px) {
  .post-detail-content .post-detail-title {
    font-size: 16px; }
  .post-detail-content .post-detail-body {
    font-size: 12px; }
  .post-detail-content .post-detail-comments h1 {
    font-size: 16px; }
  .post-detail-content .post-detail-comments .comments-item {
    padding: 5px; }
    .post-detail-content .post-detail-comments .comments-item p {
      padding: 3px;
      font-size: 12px; } }
